# Temp files
*.tmp
*.temp.*


# General macOS files
.DS_Store


# Thumbnails
._*


# General IntelliJ IDE's
.idea


# Dependency directories
node_modules/


# Optional npm cache directory
.npm

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

